{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">About Our shop</h1>
                  <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
               </div>
            </div>
            {% for about in abouts %}
               <div class="about_section_2 layout_padding">
               <div class="image_iman"><img src="{{ about.image.url }}" class="about_img"></div>
               <div class="about_taital_box">
                  <h1 class="about_taital_1">{{ about.title }}</h1>
                  <p class=" about_text">{{ about.description }}</p>
                  <div class="readmore_btn"><a href="#">Read More</a></div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
{% endblock %}