{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="coffee_section layout_padding">
         <div class="container">
            <div class="row">
               <h1 class="coffee_taital">OUR Coffee OFFER</h1>
               <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
            </div>
         </div>
         <div class="coffee_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="row">
                           {% for about_coffee in about_coffees %}
                              <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{{ about_coffee.image.url }}"></div>
                              <h3 class="types_text">{{ about_coffee.title }}</h3>
                              <p class="looking_text">{{ about_coffee.description }}</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
{% endblock %}