{% extends 'base.html' %}
{% load static %}

   {% block content %}
      <div class="banner_section layout_padding">
            <div class="container">
               <div id="banner_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     {% for coffee in coffees %}
                        <div class="carousel-item">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="banner_img"><img src="{{ coffee.image.url }}"></div>
                           </div>
                           <div class="col-md-6">
                              <div class="banner_taital_main">
                                 <h1 class="banner_taital">{{ coffee.title }}</h1>
                                 <h5 class="tasty_text">{{ coffee.short_description }}</h5>
                                 <p class="banner_text">{{ coffee.long_description }}</p>
                                 <div class="btn_main">
                                    <div class="about_bt"><a href="#">About Us</a></div>
                                    <div class="callnow_bt active"><a href="#">Call Now</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- banner section end -->
      <!-- header section end -->
      <!-- coffee section start -->
      <div class="coffee_section layout_padding">
         <div class="container">
            <div class="row">
               <h1 class="coffee_taital">OUR Coffee OFFER</h1>
               <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
            </div>
         </div>
         <div class="coffee_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="row">
                           {% for about_coffee in about_coffees %}
                              <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{{ about_coffee.image.url }}"></div>
                              <h3 class="types_text">{{ about_coffee.title }}</h3>
                              <p class="looking_text">{{ about_coffee.description }}</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- coffee section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">About Our shop</h1>
                  <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
               </div>
            </div>
            {% for about in abouts %}
               <div class="about_section_2 layout_padding">
               <div class="image_iman"><img src="{{ about.image.url }}" class="about_img"></div>
               <div class="about_taital_box">
                  <h1 class="about_taital_1">{{ about.title }}</h1>
                  <p class=" about_text">{{ about.description }}</p>
                  <div class="readmore_btn"><a href="#">Read More</a></div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
      <!-- about section end -->
      <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">Our Blog</h1>
                  <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
               </div>
            </div>
            <div class="blog_section_2">
               <div class="row">
                  {% for blog in blogs %}
                     <div class="col-md-6">
                     <div class="blog_box">
                        <div class="blog_img"><img src="{{ blog.image.url }}"></div>
                        <h4 class="date_text">{{ blog.date }}</h4>
                        <h4 class="prep_text">{{ blog.title }}</h4>
                        <p class="lorem_text">{{ blog.description }}</p>
                     </div>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <!-- blog section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="contact_taital">Get In Touch</h1>
                  <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-12">
                     {% csrf_token %}
                     <div class="mail_section_1">
                        <input type="name" class="mail_text" placeholder="Your Name" name="Your Name">
                        <input type="email" class="mail_text" placeholder="Your Email" name="Your Email">
                        <input type="phone" class="mail_text" placeholder="Your Phone" name="Your Phone">
                        <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Message"></textarea>
                        <div class="send_bt"><a href="{% url 'coffee:home' %}">SEND</a></div>
                     </div>
                  </div>
                  <div class="map_main">
                     <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="250" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   {% endblock %}